@model PublishedProductDetailViewModel

@section Styles
{
  <link rel="stylesheet" href="~/css/Products/ProductDetail.css">
}

@section Breadcrambs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.RouteUrl(RouteNames.WebCategories.Categories, new {culture = Model.Culture})">@localizer["Product_Details_Breadcrambs_Home"]</a></li>
        <li class="breadcrumb-item"><a href="@Url.RouteUrl(RouteNames.WebProducts.Products, new {culture = Model.Culture, categoryId  = Model.CategoryId})">@Model.CategoryCaption</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Product.Title</li>
    </ol>
}



<div class="content-wrapper">
  <div class="product-img">
    @if (Model.Product.HasDiscount)
    {
      <div class="badge">-@Model.Product.DiscountPercent %</div>
    }
    <img src="@Model.Product.ImageUrl" height="420" width="327">
    <div class="img-gradient"></div>
  </div>
  <div class="divider"></div>
  <div class="product-info">
    <div class="product-text">
      <div>
        <h1>@Model.Product.Title</h1>
      </div>
      <div>     
        <h2>@Model.CategoryCaption</h2>
      </div>
      <div>
        <p class="product-price">
          @if (Model.Product.HasDiscount)
          {
              <span>@Model.Product.DiscountedPrice ₾</span>
              <small>@Model.Product.Price ₾</small>
          }
          else
          {
              <span>@Model.Product.Price ₾</span>
          }
        </p>
      </div>
      <div class="product-description">@Html.Raw(Model.Product.Description)</div>
    </div>
    <div class="product-price-btn">
      <button type="button" class="add-product-in-basket-btn" data-product-id="@Model.Product.Id">@localizer["ProductDetails_Add-Cart-Text"]</button>
    </div>
  </div>
</div> 


