@using Sushi.Room.Application.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @localizer["Layout_Sushi_Room_Text"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    @await RenderSectionAsync("Styles", false)
</head>
<body>
<div class="bs-canvas-overlay bs-canvas-anim bg-dark position-fixed w-100 h-100"></div>
<partial name="_BasketSidebarPartial"/>
<div>
    @await Component.InvokeAsync("WebHeader")
</div>
<div class="container-fluid" style="margin-top: 89px">
    <main role="main" class="pb-3">
        <nav aria-label="breadcrumb">
            @await RenderSectionAsync("Breadcrambs", false)
        </nav>
        @RenderBody()
    </main>
</div>
<div>
    <footer class="footer text-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    &copy; @DateTime.Now.Year - @localizer["Layout_Sushi_Room_Text"]
                </div>
                <div class="col-md-6 text-right">
                    <a class="social-icon-margin" href="https://www.facebook.com/RealSushiTbilisi/" target="_blank" title="Facebook"><img src="~/images/f_logo_RGB-Blue_58.png" width="25" alt="Facebook"></a>
                    <a class="social-icon-margin" href="https://www.google.com/search?q=sushiroom&client=safari&hl=en-ge&sxsrf=ALeKk02Kuf-xH1eK1lCYgVHeogHFNDJXkQ%3A1629792969358&ei=yaokYaeaFYG2kwXXopP4Cw&oq=sushiroom&gs_lcp=ChNtb2JpbGUtZ3dzLXdpei1zZXJwEAMyBAgjECcyBAgjECcyCwguEIAEEMcBEK8BMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDILCC4QgAQQxwEQrwE6BAgAEEc6BwgjEOoCECc6DQguEMcBEK8BEOoCECc6CwguEMcBEK8BEJECOggIABCABBCxAzoKCC4QxwEQ0QMQQzoNCC4QsQMQxwEQowIQQzoICC4QgAQQsQM6BwguELEDEEM6BAguEEM6BAgAEEM6BwgAEMkDEEM6BQguEIAEOgcIABCABBAKUOMKWIIuYIM2aAFwAXgCgAHNAogBlBWSAQgwLjEyLjIuMZgBAKABAbABD8gBCMABAQ&sclient=mobile-gws-wiz-serp&fbclid=IwAR1e-IYXKFAqvQ3Uyhgh0-DWALcj7NG_KyDdgQTi53iYlnY5FAvFSLNkyOM#wptab=s:H4sIAAAAAAAAAONgVuLVT9c3NEw2NTI2T0qveMRowS3w8sc9YSn9SWtOXmPU5OIKzsgvd80rySypFJLmYoOyBKX4uVB18uxi4vfJT07MCcjPDEoty0wtL17EKlVcWpyRqVCUn5-rUJKUmZNZDORAJAF9cQdXewAAAA" target="_blank" title="Google"><img src="~/images/google-logo.png" width="25" alt="Google"></a>
                    <a href="https://www.tripadvisor.com/Restaurant_Review-g294195-d6779269-Reviews-Sushiroom-Tbilisi.html" target="_blank" title="Trip Advisor"><img src="~/images/tripadvisor-logo-6-1.png" width="25" alt="TripAdvisor"></a>
                </div>
            </div>
            
        </div>
    </footer>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/plugins/bootstrap/js/bootstrap-input-spinner.js"></script>
<script src="~/plugins/template7/template7.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Basket.js" asp-append-version="true"></script>
<script >
        $(function (){
            Basket.getProductsUrl = '@Url.RouteUrl(RouteNames.WebProducts.ProductsByIds, new {culture = ViewContext.RouteData.Values["culture"]?.ToString() ?? Cultures.ka})';
            BasketSidebar.clearBasketConfirmText = '@localizer["Clear_Basket_Confirm_Text"]';
        });
    </script>
<script id="basket-sidebar-template" type="text/template7">
    <div class="sidebar">
        <div class="sidebar-content">
            {{#each products}}
            <div class="item">
                <div class="item__content">
                    <div class="item__info">
                        <div class="item__info--img">
                            {{#if hasDiscount}}
                            <div class="badge">-{{discountPercent}} %</div>
                            {{/if}}
                            <img src="{{imageUrl}}" alt="Image"/>
                        </div>
                        <div class="item__info--desc">
                            <div class="item__info--title">{{title}}</div>
                            <div class="item__info--price">
                                <div class="product-price">
                                    {{#if hasDiscount}}
                                    <span>{{discountedPrice}} ₾</span>
                                    <small>{{price}} ₾</small>
                                    {{else}}
                                    <span>{{price}} ₾</span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item__count-manager">
                        <div class="qty">
                            <span class="minus bg-dark" data-product-id="{{id}}">-</span>
                            <input type="number" class="count" name="qty" value="{{quantity}}">
                            <span class="plus bg-dark" data-product-id="{{id}}">+</span>
                        </div>
                    </div>
                </div>
                <div class="item__clear">
                    <a class="remove-basket-item-btn" href="#" data-product-id="{{id}}">
                        <span>@localizer["BasketSidebarPartial_Basket_Item_Delete_Text"]</span>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="sidebar-summary">
            <div class="summary-content">
                <div class="summary-item">
                    <div class="summary-item--title">სულ ჯამი:</div>
                    <div class="summary-item--value">{{subTotalPrice}} ₾</div>
                </div>
                <div class="summary-item">
                    <div class="summary-item--title">დღგ (18%):</div>
                    <div class="summary-item--value">{{commissionPrice}} ₾</div>
                </div>
                <div class="summary-item">
                    <div class="summary-item--title">სულ:</div>
                    <div class="summary-item--value">{{totalPrice}} ₾</div>
                </div>
            </div>
            <div>
                <div class="clear-btn">
                    <button id="clear-basket-btn" type="button">@localizer["BasketSidebarPartial_Clear_Cart_Text"]</button>
                </div>
            </div>
        </div>
    </div>
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>