@model LoginEditorModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ავტორიზაცია</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for " name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/plugins/metronic/css/components.min.css" rel="stylesheet" />
    <link href="~/plugins/metronic/css/plugins.min.css" rel="stylesheet" />
    <link href="~/plugins/metronic/css/login.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="admin/images/favicon.ico" />
</head>
<body class=" login">
    <div class="logo">
        <a href="#">
            <img src="~/admin/images/logo-light.png" alt="" />
        </a>
    </div>
    <div class="content">
        <form class="login-form" asp-controller="Account" asp-action="Login" method="post">
            <h3 class="form-title font-green">ავტორიზაცია</h3>
            <div class="alert alert-danger text-center @(Model.HasErrors ? null : Html.Raw("display-hide"))">
                <span> @Model.ErrorMessage </span>
            </div>
            <div class="form-group">
                <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="UserName" asp-for="UserName" value="@Model.UserName" />
            </div>
            <div class="form-group">
                <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="პაროლი" asp-for="Password" />
            </div>
            <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />
            <div class="form-actions text-center">
                <button type="submit" class="btn green uppercase">შესვლა</button>
            </div>
        </form>
    </div>
    <div class="copyright"> @DateTime.Now.Year &copy; Sushi Room </div>
</body>

</html>